attrs==21.2.0
beancount==2.3.4
beautifulsoup4==4.10.0
bottle==0.12.19
cachetools==4.2.4
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.8
click==8.0.3
filelock==3.4.2
google-api-core==2.2.2
google-api-python-client==2.31.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
greenlet==1.1.2
httplib2==0.20.2
huggingface-hub==0.4.0
idna==3.3
iniconfig==1.1.1
joblib==1.1.0
lxml==4.6.4
nltk==3.6.7
numpy==1.22.2
packaging==21.3
Pillow==9.0.1
pluggy==1.0.0
ply==3.11
prompt-toolkit==1.0.14
protobuf==3.19.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.10.0
PyInquirer==1.0.3
pyparsing==3.0.6
pytest==6.2.5
python-dateutil==2.8.2
python-magic==0.4.24
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
rsa==4.8
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.8.0
sentence-transformers==2.1.0
sentencepiece==0.1.96
six==1.16.0
sklearn==0.0
soupsieve==2.3.1
SQLAlchemy==1.4.27
threadpoolctl==3.1.0
tokenizers==0.11.4
toml==0.10.2
torch==1.10.2
torchvision==0.11.3
tqdm==4.62.3
transformers==4.16.2
typing-extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.7
wcwidth==0.2.5
